/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    display: grid;
    height: 100vh;
    font-family: monospace;
    justify-content: center;
    align-content: center;
}
a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    padding: 0;;
    margin: 0;
}