#main{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  padding: 100px;
  gap: 10px;
  border-radius: 50%;
}
button{
  padding: 10px 40px;
}
body{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  font-size: 100px;
  font-family: monospace;
  margin: 0;
}